In [ ]:
#task-1
#TODO.
a_tuple = ("The Institute",("Best Mystery & Thriller", "The Silent Patient", 68821),75717,[1, 2, 3, 400, 5, 6, 7],
           ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

In [ ]:
#task-2
#Todo
a_tuple =  (10, 20, 24, 25, 26, 35, 70)
print(a_tuple[2:5])

In [ ]:
#task-3

#Todo
book_info = (("Best Mystery & Thriller","The Silent Patient",68,821),("Best Horror","The Institute",75,717),
             ("Best History & Biography","The five",31,783 ),("Best Fiction","The Testaments",98,291))
print('size of the tuple is:',len(book_info),'\n',("Best Mystery & Thriller","The Silent Patient",68,821),'\n',("Best Horror","The Institute",75,717),
             '\n',("Best History & Biography","The five",31,783 ),'\n',("Best Fiction","The Testaments",98,291))

In [ ]:
#task-4
#Todo
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for tup in range(len(book_info)):
    m,n,o=book_info[tup] #touple unpaking
    print(n+' won the \''+ m+'\' catagory with '+str(o)+' votes ')

In [ ]:
#task-5
#Todo
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
n1=input('enter n1:')
for tup in range(len(a_tuple)):
    a_tuple[tup][-1]=n1
print(a_tuple)

In [ ]:
#task-6
#todo
shopping_list={'Chocolate':'Hersheys','Cocoa powder':'Cadbury','Spread':'Nutella'}
shopping_list.update({"Baking powder":"Foster clarks"}) #by using update()
print(shopping_list)

In [ ]:
#task-7
#todo
marks_boys = {'Harry':15, 'Draco':8, 'Nevil':19}
marks_girls = {'Ginie':18, 'Luna': 14}
marks_mixed=marks_boys.copy() #copy marks_boys in marks_mixed
marks_mixed.update(marks_girls) #then i update marks_mixed by adding marks_girls using update()
print(marks_mixed)

In [ ]:
#task-8
#todo
count=0
sum=0
salary = {'Jon': 100, 'Dan':200, 'Rob':300}
for i in salary.values():
    sum=sum+i
    count+=1
average=sum/count
print('Average is',average)

In [ ]:
#task-9
#todo
bank = {'customer1':101, 'customer2':102, 'customer3':101, 'customer4':103, 'customer5':102}
bank1={}
count=0
for value in bank.values():
    if value not in bank1.values():
        key=list(bank.keys())
        bank1[key[count]]=value
    count+=1
print(bank1)

In [ ]:
#task-10
#todo
book_shop = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10,
             'young_adult': 4, 'adventure':14}
max=0
for value in book_shop.values():
    if value>max:
        max=value
print('The highest selling book genre is mystery and the number of books sold are',max)

In [ ]:
#task-11
#todo
dict1 = {'a': 10, 'b':20, 'c':30}
dict2 = {'a': 10, 'c':20, 'd':30, 'e':40}
dict3=dict(dict1)
dict3.update(dict2)
for key,values in dict1.items():
    for key1,values1 in dict2.items():
        if key==key1:
            dict3[key]=values+values1
print(dict3)

In [ ]:
#task-12
#todo
string10=input('enter a string')
new_dict={}
for char in string10:
    if ord(char)!=32:  #space
        if 65<=ord(char)<=90:
            char=chr(ord(char)+32)
        if char not in new_dict.keys():
            new_dict[char]=0

for char in string10:
    if ord(char)!=32:
        if 65<=ord(char)<=90:
            char=chr(ord(char)+32)
        new_dict[char]+=1

print(new_dict)

In [ ]:
#task-13
#todo
dict = {'A': [1,2,3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for key,values in dict.items():
    count+=len(values) #by using len we can calculate total values
print(count)

In [ ]:
#task-14
#todo
num10=int(input('take a number:'))
dictionary=dict()
for dictionary1 in range(1,num10+1):
    dictionary[dictionary1]=dictionary1*dictionary1  #as we know a^2=a*a
print(dictionary)

In [ ]:
#task-15
list = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
touple1={}
for(key,value) in list:
    if key not in touple1.keys():
        touple1[key]=[value]
    else:
        touple1[key].append(value)
print(touple1)



p=input().split()
dic1={}
for i in range(0,len(p)):
    dic1.update({p[i]:0})

for j in p:
    for k,v in dic1:
        if 65<=ord(j)<=122 or 48<=chr(j)<=57:
            dic1.update({k:[v]})
        else:
            dic1[k].update(v)
print(dic1)